<div id="<%= dom_id user_project %>">
  <div>
    <strong>Project:</strong>
    <%= user_project.project_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= user_project.user_id %>
  </div>

</div>
