<div id="<%= dom_id artifact %>">
  <div>
    <strong>Name:</strong>
    <%= artifact.name %>
  </div>

  <div>
    <strong>Key:</strong>
    <%= artifact.key %>
  </div>

  <div>
    <strong>Project:</strong>
    <%= artifact.project_id %>
  </div>

</div>
